# =========================================
# NODE MODULES
# =========================================

backend/node_modules
frontend/node_modules

# =========================================
# ENV
# =========================================

backend/.env
frontend/.env

# =========================================
# LOGS
# =========================================

*.log
npm-debug.log*

# =========================================
# UPLOADS
# =========================================

backend/uploads/*
!backend/uploads/.gitkeep

# =========================================
# VSCODE
# =========================================

.vscode/

# =========================================
# SYSTEM FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# BUILD
# =========================================

frontend/dist/

# =========================================
# CACHE
# =========================================

.cache/