/* =========================================
PRESTAMOS
========================================= */

.badge-activo{
  background:#198754;
}

.badge-pagado{
  background:#0d6efd;
}

.badge-mora{
  background:#dc3545;
}