/* =========================================
CARDS DASHBOARD
========================================= */

.card-box,
.app-card,
.dashboard-card{
  border:none;
  border-radius:18px;
  box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.total,
.dashboard-card h3{
  font-size:30px;
  font-weight:700;
  color:#2563eb;
}

@media(max-width:576px){

  .total,
  .dashboard-card h3{
    font-size:24px;
  }

}