/* BASE */
@import url("./base/variables.css");
@import url("./base/reset.css");
@import url("./base/global.css");

/* LAYOUT */
@import url("./layout/sidebar.css");
@import url("./layout/header.css");
@import url("./layout/forms.css");
@import url("./layout/app-layout.css");

/* COMPONENTS */
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/table.css");
@import url("./components/table-custom.css");
@import url("./components/badge.css");
@import url("./components/modal.css");
@import url("./components/alerts.css");
@import url("./components/dashboard-cards.css");

/* PAGES */
@import url("./pages/login.css");
@import url("./pages/register.css");
@import url("./pages/dashboard.css");
@import url("./pages/trabajadores.css");
@import url("./pages/prestamos.css");
@import url("./pages/pagos.css");
@import url("./pages/mapa.css");

.msg{
    width:100%;
    padding:12px;
    border-radius:10px;
    margin-bottom:15px;
    text-align:center;
    font-size:14px;
    display:block;
}

.msg.error{
    background:#ffdede;
    color:#b30000;
}

.msg.success{
    background:#d4edda;
    color:#155724;
}